.news-container {
  h1 {
    margin-left: 1rem;
    margin-top: 2rem;
    overflow-y: hidden;
    text-align: center;
  }
}
.form-select {
  width: 50%;
  min-width: 26rem;
  margin-top: 1rem;
}
.form-select:focus {
  box-shadow: none;
}
