.ant-statistic-title {
  font-size: 16px;
}
.ant-statistic {
  padding-left: 1rem;
  padding-top: 1rem;
}
.homepage-container {
  overflow-y: hidden;
  padding-right: 1rem;
  .homepage-title {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
