.cryptocurrency-container {
  & > h1 {
    text-align: center;
    margin-top: 2rem;
    overflow-y: hidden;
  }
  .cryptocurrency_searchBox {
    padding-top: 1rem;
    text-align: center;

    & > span {
      width: 50%;
      min-width: 24rem;
    }
  }
}
